.background{
  background-image: url("https://i.pinimg.com/originals/a2/4e/29/a24e29fc5ee1ef69ab11777f1d28641a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
h1{
  color: white;
  text-shadow: 2px 2px black
}
.rubber{
  position: fixed;
  bottom: 50px;
  right: 100px;
  width: 250px;
  height: 500px;
}
.fumetto{
  background-color: white;
  box-shadow: 0px 0px 10px rgba(50,70,90,1);
  text-align: center;
  border-radius: 5%;
  width: 100%;
  display: none;
}
.vasca{
  width: 65px;
}
.vasca img{
  width:300px;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
}
.vasca:hover + .fumetto{
  display: block;
}
